* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    min-height: 100vh;
    /* background: #222; */
    background: url(./img/code.PNG);
    background-size: cover;
}

:root{
    --clr:#04fc43;
    --clr2:#fee800;
    --clr3:#6b0505;
    --clr4:#2e7ad3;
    --clr5:#8f4725;
    --clr6:#ff8000;
    --clr7:rgb(245, 14, 6);
    --clr8:#f6f7f8;
    --clr9:#104c90;
}

.loader{
    position: relative;
    width: 800px;
    height: 800px;
    /* background: #2a2a2a; */
}
/* All + Mars  */
.circle{
    position: absolute;
    width: 565px;
    height: 560px;
    /* border: 1px solid #222222; */
    border-radius: 50%;
    animation: animate2 22s linear infinite;
}
/* Earth */
.circle2{
    width: 450px;
    height: 440px;
    animation: animate 18s linear infinite;
}
/* Venus */
.circle3{
    width: 345px;
    height: 350px;
    animation: animate 14s linear infinite;
    
}
/* Mercur */
.circle4{
    width: 250px;
    height: 250px;
    animation: animate 10s linear infinite;
}
 /* the sun */
.circle5{
    width: 0px;
    height: 0px;
    animation: animate 19s linear infinite;
}

/* jupiter */
.circle6{
    width: 750px;
    height: 740px;
    animation: animate 26s linear infinite;
}
/* ceres*/
.circle7{
    width: 210px;
    height: 200px;
    animation: animate2 6s linear infinite;
}
/* comet*/
.circle8{
    width: 490px;
    height: 490px;
    animation: animate 23s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* Mars */
.circle::before{
    content:'';
    position: absolute;
    margin:-12px 0 0 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background:var(--clr3);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr2),
    0 0 60px var(--clr3);
}

/* Earth */
.circle2::before{
    width: 28px;
    height: 27px;
    background:var(--clr4);
    box-shadow: 0 0 20px var(--clr2),
    0 0 60px var(--clr2);
}

/* Venus */
.circle3::before{
    width: 15px;
    height: 14px;
    background:var(--clr2);
    box-shadow: 0 0 20px var(--clr2),
    0 0 60px var(--clr3);
}

/* Mercur */
.circle4::before{
    width: 9px;
    height: 7px;
    background:var(--clr6);
    box-shadow: 0 0 4px var(--clr5),
    0 0 6px var(--clr5);
}

 /* the sun */
.circle5::before{
    width: 90px;
    height: 90px;
    background:var(--clr2);
    box-shadow: 0 0 20px var(--clr2),
    0 0 60px var(--clr3);
}

/* jupiter */
.circle6::before{
    width: 40px;
    height: 40px;
    background:var(--clr5);
    box-shadow: 0 0 20px var(--clr2),
    0 0 60px var(--clr3);
}
/* Ceres */
.circle7::before{
    width: 4px;
    height: 4px;
    background:var(--clr7);
}
/* Comet */
.circle8::before{
    width: 6px;
    height: 4px;
    background:var(--clr8);
    opacity: 0.5;
    box-shadow: 0 0 2px var(--clr2),
    0 0 6px var(--clr2),
    0 0 9px var(--clr8);
}

.work-in-progress{
    display: flex;
    position: relative;
    align-self: flex-start;
    font-size: 2.5em;;
    color: orange;
    z-index: 1115;
    margin-top: 20px;
}